# Dependabot: keep Go modules up to date
# https://docs.github.com/en/code-security/dependabot
version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 5
